@use 'variables';
@use 'sass:color';

.newsletter {
    background-color: variables.$color-bg-darker;
    border-top: 1px solid variables.$color-border;
    padding: 5rem 1rem;

    &__box {
        position: relative;
        max-width: 1100px;
        margin: 0 auto;
        border-radius: 1rem;
        background: linear-gradient(to right, rgba(variables.$color-primary, 0.2), variables.$color-bg-dark, variables.$color-bg-dark);
        border: 1px solid rgba(variables.$color-primary, 0.2);
        padding: 2rem;
        overflow: hidden;

        @include variables.tablet {
            padding: 3rem;
        }
    }

    &__bg-blur {
        position: absolute;
        top: 0;
        right: 0;
        width: 16rem;
        height: 16rem;
        background: rgba(variables.$color-primary, 0.1);
        border-radius: 50%;
        filter: blur(100px);
        transform: translate(50%, -50%);
        pointer-events: none;
    }

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include variables.tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__text {
        flex: 1;
        text-align: center;

        @include variables.tablet {
            text-align: left;
        }

        h3 {
            color: variables.$color-text-white;
            font-size: 1.875rem;
            font-weight: 900;
            letter-spacing: -0.025em;
            margin-bottom: 1rem;
        }

        p {
            color: variables.$color-text-gray;
            max-width: 28rem;
            margin: 0 auto;

            @include variables.tablet {
                margin: 0;
            }
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        @include variables.tablet {
            max-width: 28rem;
        }

        .input-group {
            position: relative;

            input {
                width: 100%;
                height: 3rem;
                padding-left: 1rem;
                padding-right: 3rem;
                border-radius: 0.5rem;
                background-color: #112217;
                border: 1px solid #326744;
                color: variables.$color-text-white;

                &:focus {
                    outline: none;
                    border-color: variables.$color-primary;
                    box-shadow: 0 0 0 1px variables.$color-primary;
                }

                &::placeholder {
                    color: #6b7280;
                }
            }

            .input-icon {
                position: absolute;
                right: 0.75rem;
                top: 50%;
                transform: translateY(-50%);
                color: variables.$color-primary;
                font-size: 1.25rem;
            }

        }

        small {
            font-size: 0.75rem;
            color: color.scale(variables.$color-text-gray, $lightness: -10%);
            text-align: center;

            @include variables.tablet {
                text-align: left;
            }
        }
    }
}