$color-primary: #13ec5b;
$color-primary-hover: #3af879;
$color-bg-dark: #102216;
$color-bg-darker: #0b1810;
$color-surface: #162e20;
$color-border: #23482f;
$color-text-white: #ffffff;
$color-text-gray: #9ca3af;
$color-text-light-green: #92c9a4;
$font-family: 'Lexend', sans-serif;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktop-xl {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}